.list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}

.ingredient {
  position: relative;
  width: calc(50% - 12px);
  text-align: center;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
